---
import Layout from "@/components/layouts/Layout.astro";
import { MaintenancePage } from "@/components/modules/maintenance/maintenance";
---

<Layout title="Halaman Tidak Ditemukan" description="Halaman Tidak Ditemukan">
  <main>
    <MaintenancePage client:load />
  </main>
</Layout>
