---
import Layout from "@/components/layouts/Layout";
---

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<Layout client:load title="List" description="Daftar Catatan">
  <main class="min-h-screen container-px py-8">
    <h1 class="text-2xl font-bold">List</h1>
  </main>
</Layout>
